* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  height: 20vh;
  background-color: rgb(92, 0, 128);
}

.container {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  height: inherit;
  flex: 0 0 20%;
  background-color: rgb(126, 69, 211);
}

.main-content {
  height: inherit;
  width: 100%;
  background-color: rgb(179, 93, 249);
}

.footer {
  height: 10vh;
  background-color: rgb(255, 69, 212);
}
