* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  height: 20vh;
  background-color: green;
}

.container {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  height: inherit;
  flex: 0 0 20%;
  background-color: seagreen;
}

.main-content {
  display: flex;
  height: inherit;
  flex: 0 0 80%;
  background-color: yellowgreen;
}

.footer {
  display: flex;
  height: 10vh;
  background-color: olive;
}
